* {
    font-family: "Nunito";
}

.flag {
    text-transform: uppercase;
    background-color: #fff2db;
    color: #d2a562;
    font-weight: bold;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.2rem;
    padding: 0 0.5rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    width: 400px;
    border: 1px solid #4a4a4a;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

h2 {
    margin-top: 2.5rem;
}

p {
    color: #4a4a4a;
}

.wrap-text {
    display: flex;
    align-items: center;
    gap: 2rem;
}

span {
    font-weight: bold;
}

#project-create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
}

input,
select {
    height: 2rem;
    padding: 0.5rem;
}

